.description {
  margin: ($margin * 8) 0 ($margin * 6);
  padding: 0 $padding;

  @media(max-width:767px) {
    margin: ($margin * 5) 0 ($margin * 3);
  }

  &-headline {
    font-size: $font-size-8;
    font-weight: $font-weight-normal;

    @media(max-width:767px) {
  		font-size: $font-size-5;
      font-weight: $font-weight-bold;
  	}
  }

  span {
    color: $color-action;
  }
}
