/* -------------------------- *
* WHITE
* -------------------------- */
$color-white: #ffffff;
$color-white-90: rgba($color-white, 0.9);
$color-white-80: rgba($color-white, 0.8);
$color-white-70: rgba($color-white, 0.7);
$color-white-60: rgba($color-white, 0.6);
$color-white-50: rgba($color-white, 0.5);
$color-white-40: rgba($color-white, 0.4);
$color-white-30: rgba($color-white, 0.3);
$color-white-20: rgba($color-white, 0.2);
$color-white-10: rgba($color-white, 0.1);

/* -------------------------- *
* MAIN
* -------------------------- */
$color-main-dark: #110629;
$color-main-dark-90: rgba($color-main-dark, 0.9);
$color-main-dark-80: rgba($color-main-dark, 0.8);
$color-main-dark-70: rgba($color-main-dark, 0.7);
$color-main-dark-60: rgba($color-main-dark, 0.6);
$color-main-dark-50: rgba($color-main-dark, 0.5);
$color-main-dark-40: rgba($color-main-dark, 0.4);
$color-main-dark-30: rgba($color-main-dark, 0.3);
$color-main-dark-20: rgba($color-main-dark, 0.2);
$color-main-dark-10: rgba($color-main-dark, 0.1);

$color-main: #210e4a;
$color-main-90: rgba($color-main, 0.9);
$color-main-80: rgba($color-main, 0.8);
$color-main-70: rgba($color-main, 0.7);
$color-main-60: rgba($color-main, 0.6);
$color-main-50: rgba($color-main, 0.5);
$color-main-40: rgba($color-main, 0.4);
$color-main-30: rgba($color-main, 0.3);
$color-main-20: rgba($color-main, 0.2);
$color-main-10: rgba($color-main, 0.1);

$color-main-light: #371e6b;
$color-main-light-90: rgba($color-main-light, 0.9);
$color-main-light-80: rgba($color-main-light, 0.8);
$color-main-light-70: rgba($color-main-light, 0.7);
$color-main-light-60: rgba($color-main-light, 0.6);
$color-main-light-50: rgba($color-main-light, 0.5);
$color-main-light-40: rgba($color-main-light, 0.4);
$color-main-light-30: rgba($color-main-light, 0.3);
$color-main-light-20: rgba($color-main-light, 0.2);
$color-main-light-10: rgba($color-main-light, 0.1);

/* -------------------------- *
* SUB
* -------------------------- */
$color-sub: #00f6ff;
$color-sub-90: rgba($color-sub, 0.9);
$color-sub-80: rgba($color-sub, 0.8);
$color-sub-70: rgba($color-sub, 0.7);
$color-sub-60: rgba($color-sub, 0.6);
$color-sub-50: rgba($color-sub, 0.5);
$color-sub-40: rgba($color-sub, 0.4);
$color-sub-30: rgba($color-sub, 0.3);
$color-sub-20: rgba($color-sub, 0.2);
$color-sub-10: rgba($color-sub, 0.1);

/* -------------------------- *
* ACTION
* -------------------------- */
$color-action: #ff0062;
$color-action-90: rgba($color-action, 0.9);
$color-action-80: rgba($color-action, 0.8);
$color-action-70: rgba($color-action, 0.7);
$color-action-60: rgba($color-action, 0.6);
$color-action-50: rgba($color-action, 0.5);
$color-action-40: rgba($color-action, 0.4);
$color-action-30: rgba($color-action, 0.3);
$color-action-20: rgba($color-action, 0.2);
$color-action-10: rgba($color-action, 0.1);


/* -------------------------- *
* USE CASE
* -------------------------- */

$color-link: $color-action;

$color-code-comment: #666666;
